#jinja2: trim_blocks: True, lstrip_blocks: True
---
# https://docs.k3s.io/helm
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  # renovate: datasource=helm
  repo: https://helm.cilium.io/
  chart: cilium
  version: 1.14.0
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    bpf:
      masquerade: true
    cluster:
      name: hcloud0
      id: 1
    containerRuntime:
      integration: containerd
      socketPath: /var/run/k3s/containerd/containerd.sock
    encryption:
      enabled: true
      type: wireguard
    hubble:
      enabled: false
    ipam:
      mode: kubernetes
    ipv4NativeRoutingCIDR: "{% raw %}{{ cluster_cidr }}{% endraw %}"
    {% if bootstrap_ipv6_enabled | default(false) %}
    ipv6NativeRoutingCIDR: "{% raw %}{{ cluster_cidr_v6 }}{% endraw %}"
    ipv6:
      enabled: true
    {% endif %}
    k8sServiceHost: "{% raw %}{{ kube_api_addr }}{% endraw %}"
    k8sServicePort: 6443
    kubeProxyReplacement: strict
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    operator:
      replicas: 1
      rollOutPods: true
    rollOutCiliumPods: true
    securityContext:
      privileged: true
